[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
flask = "*"
numpy = "*"
flask-cors = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.10"
